/* 
style.css
*/

html {
    background: rgba(32, 34, 46, 1);
}

body {
    text-align: center;
    margin-top: 0px;
}

canvas {
    background: rgba(32, 34, 46, 1);
}

/* added to alert user when window is too small to fit canvas */
.outline {
    border: 4px dashed red;
}


/* Dialog */

dialog {
    font-family: 'Press Start 2P', cursive;
    font-weight: 300;
    width: 300px;
    z-index: 1;
    text-align: center;
    padding: 30px 50px 50px;
    border: none;
    background-color: rgba(20, 20, 20, 0.9);
    color: white;
    border-radius: 6px;
}

h1 {
    letter-spacing: 13px;
    font-weight: lighter;
    color: #4e62d4;
}

h3 {
    font-weight: lighter;
    font-size: .8em;
    letter-spacing: 1px;
    line-height: 20px;
}

h3 span {
    font-size: .6em;
}

#gameScores {
    margin-bottom: 100px;
    line-height: 15px;
    font-size: .5em;
}

.points {
    float: left;
}

.points span {
    display: block;
}

.bestScore span {
    display: block;
}

.bestScore {
    float: right;
}

#playersToSelect img {
    padding: 8px 8px 20px 8px;
    margin-bottom: 20px;
}

.selected {
    border: 1px solid white;
}

#start {
    border: 1px solid #FFF;
    background-color: rgba(20, 20, 20, 0.8);
    color: white;
    font-family: 'Press Start 2P', cursive;
    height: 50px;
    width: 200px;
    font-size: .6em;
    border-radius: 6px;
    margin: 40px 10px 0px;
    letter-spacing: 1px;
    padding: 0 20px;
}


/* Score board */

#scoreboard {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 0.10em;
    line-height: 15px;
    width: 440px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2e2e2e;
    padding: 0 30px 5px;
}

.level {
    display: inline-block;
    margin-top: 1.5em;
    letter-spacing: 2px;
}

.lives {
    float: right;
}

.lives span {
    display: block;
}